In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('dataset_panjang_v2.csv')
df

      waktu        step   panjang
0         6    4.375691  0.380893
1        11    8.022099  0.380893
2        16   11.668508  0.380893
3        21   15.314917  0.380893
4        26   18.961326  0.380893
...     ...         ...       ...
1040    143  377.442177  1.262888
1041    144  380.081633  1.262888
1042    145  382.721088  1.262888
1043    146  385.360544  1.262888
1044    147  388.000000  1.262888

[1045 rows x 3 columns]

In [3]:
reg = linear_model.LinearRegression()
reg.fit(df.drop('panjang',axis='columns'),df.panjang)

LinearRegression()

In [4]:
reg.coef_

array([-0.00307786,  0.00143617])

In [5]:
reg.intercept_

0.8343048305325581

In [8]:
reg.predict([[37, 27]])

array([0.75920067])

In [7]:
-0.00307786*x1 + 0.00143617*x2 + 0.8343048305325581

NameError: name 'x1' is not defined

In [ ]:
-0.00389184*89 + 0.00139122*246 + 1.1425926585655386