In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('dataset_treadmill_wk.csv')
df

    waktu  kecepatan  kalori
0      52          3       3
1      70          3       4
2      21          3       1
3     172          3      10
4     209          3      11
5     291          3      17
6     308          3      18
7     325          3      19
8      10          6       1
9      52          6       6
10     70          6       8
11    112          6      13
12    130          6      15
13    189          6      22
14     86          6      10
15     59          9      10
16     46         12      10
17    342          3      20
18    171          6      20
19     65          9      20
20     89         12      20

In [3]:
reg = linear_model.LinearRegression()
reg.fit(df.drop('kalori',axis='columns'),df.kalori)

LinearRegression()

In [4]:
reg.coef_

array([0.06525924, 1.58329375])

In [5]:
reg.intercept_

-5.451149584767817

In [6]:
reg.predict([[172, 3]])

array([10.52332171])

In [7]:
0.06525924*172 + 1.58329375*3 - 5.451149584767817

10.523320945232182

In [ ]:
plt.scatter(df["waktu"], df["kalori"])
plt.scatter(df["jarak"], df["kalori"])
plt.show()